<h2 style="text-align: {{ section.settings.text_alignment }};">{{ section.settings.title }}</h2>

<div style="display: flex; justify-content: center; gap: 20px;">
  {% for block in section.blocks %}
    {% if block.type == "heading" %}
      <div style="display: flex; flex-direction: column; gap: 10px;">
        <h2>{{ block.settings.text }}</h2>
        {{ block.settings.image | image_url: width: 500, height: 500 | image_tag }}
      </div>
    {% endif %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Promotions Group",
  "tag": "section",
  "class": "promotion-group-container",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Title"
    },
    {
      "id": "text_alignment",
      "type": "text_alignment",
      "label": "Text alignment",
      "default": "center"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Promotion",
      "settings": [
        {
          "id": "text",
          "type": "text",
          "label": "Title"
        },
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Promotions Group"
    }
  ]
}
{% endschema %}